html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: monospace;
    width: 100%;
    height: 100%;
}

form{
    width: 30vw;
    margin: auto;
    padding:20px;
    margin-top: -20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0,.4)
}

h2{
    position: relative;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0px;
}

select {
    font-size: 20px;
    background: white;
    border: none;
    font-size: 14px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    padding:7px;
 }

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 200px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

#cv_label{ 
    color: white;
    font-size: 20px;
    width: 100%;
    height: auto;
}

#cv{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #11406D;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    margin-left: 10%;
    width: 80%;
}

#enviar{
    background: #11406D;
    color: white;
    padding: 10px;
}

#enviar:hover{
    cursor: pointer;
}

#postulate-back{
    background: url(../image/industry.jpeg) no-repeat center center fixed;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}

/*-------------Menu-----------*/
/*----------------------------*/
.navbar{
    background-color: #23415C;
    padding: 1% 0;
    margin:0;
    width: auto;
}

.navbar-collapse .navbar-nav li a{
    color: #D5D5D5;
}

.navbar-collapse .navbar-nav li a:hover, .navbar-collapse .navbar-nav li a.active{
    color: white;
}
/*----------------------------*/
/*----------------------------*/

.carousel-caption h3{ 
   font-size: 45px;
   font-weight: bold;
}

.carousel-caption p, .carousel-caption ul li{
    font-size: 30px;
    /* color: rgba(0, 0, 0,.4); */
}

#home{
    background: url(../image/slider/industry_2.jpeg) no-repeat center center fixed;
    display: table;
    height: 100vh;
    position: relative;
    width: 100vw;
    background-size: cover;
}

.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1{
    color: white;
    font-weight: 700;
    font-size: 500%;
}

.landing-text h3{
    color: white;
    font-weight: 80;
    font-size: 20px;
}

.padding{
    padding: 70px 0;
}

.padding img{
    width: 100%;
}

#fixed{
    background: url(../image/industry.jpeg) no-repeat center center fixed;
    display: table;
    height: 60vh;
    position: relative;
    width: 100%;
    background-size: cover;
}

footer{
    width: 100%;
    background-color: #11406D;
    padding: 5% 5% 10% 5%;
    color: white;
}

footer .fa{
    font-size: 50px;
    color: white;
}

@media(max-width:1450px){
    .navbar{
        background-color: #23415C;
        padding: 2% 0;
        margin:0;
    }
}

@media(max-width:780px){
    .landing-text h1{
        font-size: 300%;
    }

    .navbar{
        background-color: #23415C;
        padding: 4% 0;
        margin:0;
    }

    form{
        width: 80%;
    }

    #cv{
        width: 80%;
        margin:10px 10% 10px 10%;
        padding:0px;
        
    }

    .lead{
        text-align: center;
    }
    

} 


